.card {
    max-width : 1000px;
    margin-left :auto;
    margin-right : auto;
    padding : 100px;
}

.card__row {
    display : flex;
    z-index : 1;
    margin-left: 5px;
    margin-right: 5px;
}

