.header {
    display: flex;
    align-items : center;
    justify-content:space-around;
    padding : 30px;
    border : 1px solid lightgrey;
    position : sticky;
    top : 0;
    z-index : 100;
    background-color: white;
}

.header__mid {
    display : flex;
    align-items : center;
    justify-content:space-between;
}

.header__mid__content {
    display : flex;
    align-items : center;
    justify-content:space-between;
    padding-right : 30px;
}

.header__right{
    display : flex;
    align-items : center;
    justify-content:space-between;
}

.header__right > .header__right__icon {
    padding-right : 30px;
}